h1{
    text-align: center;
    text-transform: uppercase;
}

h2:before{
    content: counter(section) ". ";

}


h2{
    text-decoration: underline overline;
    counter-increment: section;
}

h3:before{
    content: "* ";
}

h3{
    font-style: italic;
}


p{
    margin-left: 50px;
    text-indent: -20px;
}