body{
    background-color: #EFECCA;
    font-family: 'Helvetica', 'Arial';
}

h1{
    color: #C03000;
}

h2{
    color: #4BB5C1;
}

nav li{
    border: 2px solid #660000;
    background-color: #C03000;
    list-style-type: none;
    display: inline;
    padding: 10px ;
}

nav li a{
    color: #FFFFFF;
    text-decoration: none;
}

nav li a:hover, nav li a:focus, nav li a:active{
    background: #009900;
    text-decoration: underline;
}

footer a{
    color: #0000FF;
    text-decoration: none;
    font-weight: bold;
}